.realnameauthen {
  width: 100%;
  background: #f3f3f3;
}

.realnameauthen .icon-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.realnameauthen h6 {
  text-align: center;
  padding: 1rem 0;
  background: #fff;
}

.realnameauthen .main-content .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background: #fff;
    border-bottom: .5px solid #dbdbdb;
}

.realnameauthen .main-content .item span{
    display: block;
}
.realnameauthen .ant-image{
  width: 100% !important;
  margin-bottom: 1rem;
}
.realnameauthen .position-relative button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #3ea3f4;
  color: white;
}