.paymentmethod{
    background: #F3F3F3;
}
.paymentmethod .headerPayment{
    background: rgb(255, 255, 255);
    position: relative;
    padding: 0.813rem 1rem;
}
.paymentmethod .headerPayment .iconBack{
    color: #000000;
    font-size: 1.563rem;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
.paymentmethod .headerPayment .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000000;
}
.paymentmethod .addBank{
    color: #fff;
    border-color: #2979ff;
    background-color: #2979ff;
    margin-top: 1.563rem !important;
    font-size: 0.938rem;
    text-decoration: none;
    padding: 0.6rem 1rem;
    margin: 0 1rem;
    border-radius: 5px;
}

.paymentmethod .note{
    color: #3f3f3f;
    padding: 0.813rem 1rem;
}
.paymentmethod .showBank{
    background: linear-gradient(180deg,#58a5e4 0,#2b61a7);
    border-radius: 5px;
    box-shadow: 0 4px 10px #999;
    color: #fff;
    margin: 0.625rem 1rem;
    padding: 1.7rem 0.625rem;
}
.paymentmethod .showBank .close{
    color: rgb(209, 209, 209);
    font-size: 28px;
    margin-left: 275px;
    margin-top: -35px;
}