.dailycheck h6{
    text-align: center;
    padding: 1rem 0;
}

.dailycheck .icon-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dailycheck .main-daily{
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
}

.dailycheck .main-daily button{
    color: #fff;
    text-align: center;
    width: 90%;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;
    background: linear-gradient(269deg, #ffb321 -4.64%, #ff584d 109.73%, #ff8c75 131.73%);
}