.withdraw {
  width: 100%;
  height: 100vh;
  background: #f3f3f3;
}

.withdraw .icon-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.withdraw h6 {
  text-align: center;
  padding: 1rem 0;
  background: #fff;
}

.withdraw .main-content .option-form{
    background: #fff;
    padding: .5rem;
    font-size: 13px;
    border-bottom: .5px solid #dbdbdb;
}

.withdraw .main-content .option-form .form-group .form-control{
    outline: none;
}

.withdraw .main-content .option-form a{
    color: black;
    text-decoration: none;
    text-align: center;
}

.withdraw .main-content .option-form .withdraw{
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    background: #fff;
    font-size: 16px;
}

.withdraw .main-content .option-form .amount{
    width: 100%;
    font-size: 16px;
}

.withdraw .main-content .option-form .pass{
    width: 100%;
    border: none;
    padding: .5rem;
    outline: none;
    font-size: 16px;
}

.withdraw .main-content .option-form .name{
    font-size: 16px;
}

.withdraw .butt{
    margin: 2rem;
    text-align: center;
}

.withdraw .butt button{
    background: #19be6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 2rem;
}