.footer{
    background: #fff;
    border-top: 1px solid #e9ecef;
    padding: .5rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer .nav-item .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(21, 26, 64);
    opacity: .7;
    text-decoration: none;
}
.footer .nav-item.active .nav-link{
    color: rgb(21, 26, 64);
    opacity: 1;
}

.footer .nav-item .nav-link span{
    display: block;
}

.footer .nav-item .nav-link span:first-child{
    font-size: 25px;
}
.footer .nav-item .nav-link span:last-child{
    font-size: 10px;
}