img{
    object-fit: cover;
}
.personalSetting{
    background: #e8e8e8;
}
.personalSetting .headerSetting{
    background: rgb(255, 255, 255);
    position: relative;
    padding: 0.813rem 1rem;
}
.personalSetting .headerSetting .iconBack{
    color: #000000;
    font-size: 1.563rem;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
.personalSetting .headerSetting .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000000;
}
.personalSetting .contentListInfo{
    background: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.personalSetting .list .items{
    padding: 0.813rem 1rem;
    text-decoration: none;
}
.personalSetting .list .items .iconImg{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.personalSetting .list .items p{
    margin: 0;
    color: #606266;
    font-size: 0.875rem;
}
.personalSetting .list .items .value{
    flex: 1;
    text-align: right;
    color: #909399;
    font-size: 0.813rem;
}
.personalSetting .listOptions{
    background: rgb(255, 255, 255);
}
